/* 기본 스타일 */

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title {

  width: 100%;
  text-align: center;
  background: radial-gradient(circle at right, #ffffffbe, #181717);
  font-size: 1.2vw;
  padding-left: 1%;
  color: #ffffff;
}

.footer {

  width: 100%;
  text-align: center;
  padding-top:0;
  position: fixed; /* 오타 수정 */
  bottom: 0; /* 화면 하단에 고정 */
}

.app-container {
  display: flex;
  height: 100%;
  text-align: center;
  align-items: flex-start;
  justify-content: left;
  margin-bottom: 0;
}

.presentation-container iframe {
  width: 75vw;
  height: 80vh;
  border-radius: 60px;
  border: none;
  margin: 0 auto;
  margin-left: 3%;
  margin-top: 1%;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  padding-bottom: 0;
  margin-bottom: 0 !important;
}

.custom-button:hover {
  background-color: #5f635f;
}

/* Sidebar Styles */
.sidebar-column {
  margin-top: 0%;
  background-color: #2d2c32;
  padding-right: 0;
  padding-top: 0;
  font-size : 0.4vh;
  text-align: left;
  top: 0px;
  color: rgb(184, 179, 179);
  height: 89vh;
  width: 120%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.nav-table {
  display: flex;
  flex-direction: column;
  max-height: 89vh;
  overflow-y: auto;
}

.nav-table-row {
  padding: 10px;
  padding-right: 30px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.nav-table-row:hover {
  background-color: #888585;
  color: #333;
}

.nav-table-row.selected {
  background-color: #007bff;
  color: white;
}

.slide_button {
  margin-bottom: 10px;
}

.side {
  margin-left: 20%;
  margin-top: 7%;
}

/* 반응형 미디어 쿼리 */


@media (min-width: 600px) {
  .title {
    font-size: 1.2vw;
  }

  .presentation-container iframe {
    width: 80vw;
    height: 80vh;
  }

  .sidebar-column {
    font-size: 1.2vw;
  }
}
